<article class="blog-post">
  {{ with .Resources.GetMatch site.Params.blog.thumbnail }}
    <div class="blog-post__media">
      <img src="{{ .RelPermalink }}" alt="{{ .Title }}">
    </div>
  {{ end }}
  <div class="blog-post__body">
    <h2>
      <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
    </h2>
    <div class="blog-post__meta">
      {{ .Render "_blog-post-meta" }}
      {{ partial "tags" . }}
    </div>
    <div class="blog-post__content">
      <p>
        {{ .Summary }}
      </p>
    </div>
    <p>
      <a href="{{ .RelPermalink }}">Continue reading →</a>
    </p>
  </div>
</article>
