{{ $width := 128 }}
{{ $height := 128 }}
{{ with .Params.author }}
  {{ $author := index site.Data.blog.authors . }}
  {{ with $author }}
    {{ with resources.Get (printf "%s%s" "authors/" .avatar) }}
      {{ if eq .ResourceType "image" }}
        {{ $resource := . }}
        {{ if not (eq .MediaType.SubType "svg") }}
          {{ if or (ne .Width $width) (ne .Height $height) }}
            {{ $resource = .Process (printf "fill %dx%d smart jpg q80 lanczos" $width $height) }}
          {{ end }}
        {{ end }}
        <img src="{{ $resource.RelPermalink }}" alt="{{ $resource.Name }}">
      {{ end }}
    {{ end }}
    {{ .firstName }} {{ .lastName }}
  {{ end }}
{{ end }}
