{{ define "main" }}
  {{/* RSS feed */}}
  {{ with .OutputFormats.Get "rss" }}
    <p>
      <a href="{{ .Permalink }}">RSS</a>
    </p>
  {{ end }}
  {{/* Paginated blog posts */}}
  {{ range (.Paginator 3).Pages }}
    {{ .Render "_blog-post-summary" }}
  {{ end }}
  {{/* Paginator navigation */}}
  {{ with .Paginator }}
    {{ if gt .TotalPages 1 }}
      <nav>
        {{ if .HasPrev }}
          <a href="{{ .Prev.URL }}">← Newer</a>
        {{ end }}
        {{ if .HasNext }}
          <a href="{{ .Next.URL }}">Older →</a>
        {{ end }}
      </nav>
    {{ end }}
  {{ end }}
  {{/* template "_internal/pagination.html" . */}}
{{ end }}
