{{/*

@param {String} [text]
@param {String} [href]
@param {String} [variant] One of "light", "disabled", "active". Leave empty for default
@param {String} [size] One of "sm", "lg". Leave empty for default
@param {Boolean} [block] Defaults to false

@example
{{ partial "components/button" (dict "href" "/about" "text" "Learn more") }}

*/}}

{{ $class := slice "rounded-md font-medium border-2 border-solid transition-colors focus:outline-hidden" }}

{{/* Get variant */}}
{{ if eq .variant "light" }}
  {{ $class = $class | append "text-sky-500 bg-sky-100 border-sky-100 hover:text-sky-600 hover:bg-sky-200 hover:border-sky-200" }}
{{ else if eq .variant "disabled" }}
  {{ $class = $class | append "text-slate-400 bg-slate-200 border-slate-200 pointer-events-none cursor-pointer pointer-events-none" }}
{{ else if eq .variant "active" }}
  {{ $class = $class | append "text-slate-500 bg-white border-slate-500" }}
{{ else }}
  {{ $class = $class | append "text-white bg-sky-500 border-sky-500 hover:bg-sky-600 hover:border-sky-600" }}
{{ end }}

{{/* Get size */}}
{{ if eq .size "sm" }}
  {{ $class = $class | append "text-sm px-3 py-1" }}
{{ else if eq .size "lg" }}
  {{ $class = $class | append "text-lg px-6 py-3" }}
{{ else }}
  {{ $class = $class | append "text-base px-4 py-2" }}
{{ end }}

{{/* Get block */}}
{{ if eq .block true }}
  {{ $class = $class | append "block" }}
{{ else }}
  {{ $class = $class | append "inline-block" }}
{{ end }}

{{/* Set cursor */}}
{{ if and (not .href) (eq .variant "disabled") }}
  {{ $class = $class | append "cursor-pointer pointer-events-none" }}
{{ end }}

{{/* Build class names */}}
{{ $class = delimit $class " " }}

{{/* Output */}}
<a{{ with .href }} href="{{ . }}"{{ end }} class="{{ $class }}" {{ if hasPrefix .href "http" }} target="_blank" rel="noopener"{{ end }}>
  {{ .text | safeHTML }}
</a>
