{{ with .Paginator }}
  {{ if gt .TotalPages 1 }}
    <nav class="flex gap-4">
      {{ if .HasPrev }}
        {{ partial "components/button" (dict "href" .Prev.URL "text" "← Newer") }}
      {{ else }}
        {{ partial "components/button" (dict "variant" "disabled" "text" "← Newer") }}
      {{ end }}
      {{ if .HasNext }}
        {{ partial "components/button" (dict "href" .Next.URL "text" "Older →") }}
      {{ else }}
        {{ partial "components/button" (dict "variant" "disabled" "text" "Older →") }}
      {{ end }}
    </nav>
  {{ end }}
{{ end }}
