/*
@markup
<div class="featured-blog-posts">
  <h3>Featured</h3>
  <div class="blog-post">
    ...
  </div>
  ...
</div>
*/

.featured-blog-posts {
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: solid 3px #ddd;
}
