/*
@markup
<ul class="tag-list">
  <li>
    <a>tag</a>
  </li>
</ul>
*/

.tag-list {
  display: flex;
  padding-left: 0;
  list-style-type: none;

  li {
    margin-right: 0.2rem;
    padding: 0 0.6rem;
    border: solid 2px #ddd;
    border-radius: 99rem;
  }
}
