{{ define "main" }}
  <div class="mx-auto px-6 py-20 max-w-3xl container">
    <h2 class="pb-12 font-medium text-6xl text-slate-600">
      {{ .Data.Term | humanize }}
    </h2>
    {{/* BEGIN paginated blog posts */}}
    <div class="flex flex-col">
      {{ range (.Paginator 3).Pages }}
        <div class="border-slate-200 py-12 border-b-2">
          {{ .Render "_blog-post-summary" }}
        </div>
      {{ end }}
      <div class="pt-12">
        {{ partial "paginator" . }}
      </div>
    </div>
    {{/* END */}}
  </div>
{{ end }}
