{{ with .Paginator }}
  {{ if gt .TotalPages 1 }}
    <nav class="flex gap-4">
      {{ if .HasPrev }}
        <a href="{{ .Prev.URL }}" class="inline-block bg-sky-500 hover:bg-sky-600 px-4 py-3 rounded-md font-medium text-white transition-colors focus:outline-none">
          ← Newer
        </a>
      {{ end }}
      {{ if .HasNext }}
        <a href="{{ .Next.URL }}" class="inline-block bg-sky-500 hover:bg-sky-600 px-4 py-3 rounded-md font-medium text-white transition-colors focus:outline-none">
          Older →
        </a>
      {{ end }}
    </nav>
  {{ end }}
{{ end }}
