{{ $maxSize := 800 }}
{{ with $.Page.Resources.Get (.Get 0) }}
  {{ if eq .ResourceType "image" }}
    {{ $resource := . }}
    {{ if not (eq .MediaType.SubType "svg") }}
      {{ if or (gt .Width $maxSize) (gt .Height $maxSize) }}
        {{ $resource = .Process (printf "fit %dx%d jpg q80 lanczos" $maxSize $maxSize) }}
      {{ end }}
    {{ end }}
    <figure>
      <img src="{{ $resource.RelPermalink }}" alt="{{ path.BaseName $resource.Name | humanize }}">
      {{ with $.Inner }}
        <figcaption>
          {{ . | markdownify }}
        </figcaption>
      {{ end }}
    </figure>
  {{ end }}
{{ end }}
